.dashboard {
  margin-left: 316px;
  margin-top: 20px;
  margin-right: 316px;
}

table {
  width: 100%;
}
table.mat-table {
  margin-top: -7px;
  max-height: 10px;
  overflow-y:auto ;
}
td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
  border: none;
  text-align: center;
}

tr.mat-footer-row, tr.mat-row {
  background-color: #BBE7F9;
}
td.mat-cell, th.mat-header-cell {
  border-bottom-style: none;
  border-left-style: solid;
  border-left: 2px solid grey;
  padding: 5px;
  text-align: center;
}
thead{
  text-align: center;
}
.table-desc{
  background: #0099CC;
  height: 32px;
  text-align: left;
  border-radius: 5px;
}
.table-desc h6{
  padding: 6px;
  font-size: 15px;
  margin-left: 20px;
}
.mat-header-cell {
  font-size: 14px;
  color: rgba(0,0,0,.87);
}
.mat-row:nth-child(even){
  background-color:white;
}

.mat-row:nth-child(odd){
  background-color: #BBE7F9;
  border-radius: 50px !important;
}
mat-header-cell {
  display:flex;
  justify-content:flex-end;
}
