<div class="titleHeader">
  <span>
     Flight Fare Estimator
  </span>
  <span>
    <img class="logo" src="assets/airfranceklmlogo.jpg">
  </span>
</div>

<div class="menuHome">
  <div class="container"> 
    <div class="row">    
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">     
        <ul class="nav nav-tabs">
          <li>
            <a class="nav-link pad" (click)="onClickFareEstimator()">FareEstimator</a>
          </li>
          <li>
            <a class="nav-link pad" (click)="onClickFindAirports()">Airports</a>
          </li>
          <li>
            <a class="nav-link pad" (click)="onClickDashboard()">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
